/* caracteristicas maquinas */

.gridMaquinas {
    display: grid;
    grid-template-areas: 
    "tituloMaquinas"
    "listaMaquinas"
    "rectilinea"
    "torno"
    "planchadora"
    "balancin"
    "caldera";
    grid-gap: 5rem;
    grid-template-columns: 100%;
    grid-template-rows: repeat(7, auto);
    padding: 2rem;
}

.textoRectilinea, .textoTorno, .textoPlanchadora, .textoBalancin, .textoCaldera {
    p{
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
    
    .listaEspesificaciones li{
        font-size: 15px;
        text-decoration: none;
    }
}

.tituloMaquinas {
    grid-area: tituloMaquinas;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#listaMaquinas {
    grid-area: listaMaquinas;
    display: flex;
    flex-direction: column;
    align-items: center;

        li {
            list-style: none;
        }

        a {
            text-decoration: none;
            font-size: 25px;
        }
    }

#rectilinea {
    grid-area: rectilinea;
    display: grid;
    grid-template-areas:
    "textoRectilinea imgRectilinea";
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows:45vw;
    grid-gap: 6rem;
    align-items: center;
    margin: 20px;
    background-color: #EEF4ED;
    border-radius: 2rem;
    padding: 30px;

    .textoRectilinea {
        grid-area: textoRectilinea;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .imgRectilinea {
        grid-area: imgRectilinea;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 74rem;
            height: 50rem;
            border-radius: 1rem;
        }
    }
}

#torno {
    grid-area: torno;
    display: grid;
    grid-template-areas:
    "textoTorno imgTorno";
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 45vw;
    grid-gap: 6rem;
    align-items: center;
    margin: 20px;
    background-color: #EEF4ED;
    border-radius: 2rem;
    padding: 30px;
}

.textoTorno {
    grid-area: textoTorno;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;    
}

.imgTorno {
    grid-area: imgTorno;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 74rem;
        height: 50rem;
        border-radius: 1rem;
    }
}

#planchadora {
    grid-area: planchadora;
    display: grid;
    grid-template-areas:
    "textoPlanchadora imgPlanchadora";
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 45vw;
    grid-gap: 6rem;
    align-items: center;
    margin: 20px;
    background-color: #EEF4ED;
    border-radius: 2rem;
    padding: 30px;
}

.textoPlanchadora {
    grid-area: textoPlanchadora;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;    
}

.imgPlanchadora {
    grid-area: imgPlanchadora;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 74rem;
        height: 50rem;
        border-radius: 1rem;
    }
}

#balancin {
    grid-area: balancin;
    display: grid;
    grid-template-areas:
    "textoBalancin imgBalancin";
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 45vw;
    grid-gap: 6rem;
    align-items: center;
    margin: 20px;
    background-color: #EEF4ED;
    border-radius: 2rem;
    padding: 30px;
}

.textoBalancin {
    grid-area: textoBalancin;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;    
}

.imgBalancin {
    grid-area: imgBalancin;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 74rem;
        height: 50rem;
        border-radius: 1rem;
    }
}

#caldera {
    grid-area: caldera;
    display: grid;
    grid-template-areas:
    "textoCaldera imgCaldera";
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 45vw;
    grid-gap: 6rem;
    align-items: center;
    margin: 20px;
    background-color: #EEF4ED;
    border-radius: 2rem;
    padding: 30px;
}

.textoCaldera {
    grid-area: textoCaldera;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;    
}

.imgCaldera {
    grid-area: imgCaldera;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 74rem;
        height: 50rem;
        border-radius: 1rem;
    }
}

@media screen and (max-width: 1200px) {
    .gridMaquinas {
        padding: 0;
    }
    
    .textoRectilinea, .textoTorno, .textoPlanchadora, .textoBalancin, .textoCaldera {
        p{
            font-size: 18px;
            }
    }
    
    #rectilinea {
        grid-template-rows: 55vh;
        margin: 15px;
        padding: 40px;
    

        .imgRectilinea {
            img {
                width: 68rem;
                height: 45rem;
            }
        }
    }
    
    #torno {
        grid-template-rows: 55vh;
        margin: 15px;
        padding: 40px;

        .imgTorno {
            img {
                width: 68rem;
                height: 45rem;
            }
        }
    }

    #planchadora {
        grid-template-rows: 55vh;
        margin: 15px;
        padding: 40px;

        .imgPlanchadora {
            img {
                width: 68rem;
                height: 45rem;
            }
        }
    }

    #balancin {
        grid-template-rows: 55vh;
        margin: 15px;
        padding: 40px;

        .imgBalancin {
            img {
                width: 68rem;
                height: 45rem;
            }
        }
    }

    #caldera {
        grid-template-rows: 55vh;
        margin: 15px;
        padding: 40px;

        .imgCaldera {
            img {
                width: 68rem;
                height: 45rem;
            }
        }
    }
}

/* Grid Maquinas 991.40 */

@media screen and (max-width: 991.40px) {
    .gridMaquinas {
        margin: 50px;
    }

    .textoRectilinea, .textoTorno, .textoPlanchadora, .textoBalancin, .textoCaldera {
        p{
            font-size: 15px;
            }
    }
    
    #rectilinea {
        margin: 12.5px;
        padding: 30px;
    

        .imgRectilinea {
            img {
                width: 58rem;
                height: 40rem;
            }
        }
    }
    
    #torno {
        margin: 12.5px;
        padding: 30px;

        .imgTorno {
            img {
                width: 58rem;
                height: 40rem;
            }
        }
    }

    #planchadora {
        margin: 12.5px;
        padding: 30px;

        .imgPlanchadora {
            img {
                width: 58rem;
                height: 40rem;
            }
        }
    }

    #balancin {
        margin: 12.5px;
        padding: 30px;

        .imgBalancin {
            img {
                width: 58rem;
                height: 40rem;
            }
        }
    }

    #caldera {
        margin: 12.5px;
        padding: 30px;

        .imgCaldera {
            img {
                width: 58rem;
                height: 40rem;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .imgRectilinea, .imgTorno, .imgPlanchadora, .imgBalancin, .imgCaldera {
        img {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: auto;
            height: 250px;
        }
    }

    .gridMaquinas {
        display: grid;
        grid-template-areas: 
        "tituloMaquinas"
        "listaMaquinas"
        "rectilinea"
        "torno"
        "planchadora"
        "balancin"
        "caldera";
        grid-gap: 30px;
        grid-template-columns: 100%;
        grid-template-rows: repeat(7, auto);
        padding: 0;
        margin: 0;
    }

    .tituloMaquinas {
        grid-area: tituloMaquinas;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .listaMaquinas {
        grid-area: listaMaquinas;
    }

    #rectilinea {
        grid-area: rectilinea;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        
        .rectilineaTitulo {
            text-align: start;
                
                h2 {
                    font-size: 30px;
                }
            }

        .textoRectilinea {
            align-content: center;
            justify-content: center;
            
                p {
                    font-size: 15px;
                }
            }
        
        .imgRectilinea {
            align-content: center;
            justify-content: center;
        }
    }    
    
    #torno {
        grid-area: torno;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        
        .tornoTitulo {
            text-align: start;
                
                h2 {
                    font-size: 30px;
                }
        }

        .textoTorno {
            align-content: center;
            justify-content: center;
            
                p {
                    font-size: 15px;
            }
        }
        
        .imgTorno {
            align-content: center;
            justify-content: center;
        }
    }

    #planchadora {
        grid-area: planchadora;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        
        .planchadoraTitulo {
            text-align: start;
                
                h2 {
                    font-size: 30px;
            }
        }

        .textoPlanchadora {
            align-content: center;
            justify-content: center;
            
                p {
                    font-size: 15px;
            }
        }
        
        .imgPlanchadora {
            align-content: center;
            justify-content: center;
        }
    }

    #balancin {
        grid-area: balancin;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        
        .balancinTitulo {
            text-align: start;
                
                h2 {
                    font-size: 30px;
                }
        }

    .textoBalancin {
        align-content: center;
        justify-content: center;
            
            p {
                font-size: 15px;
        }
    }
        
    .imgBalancin {
        align-content: center;
        justify-content: center;
        }
    }

    #caldera {
        grid-area: caldera;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        
        .calderaTitulo {
            text-align: start;
                
                h2 {
                    font-size: 30px;
            }
        }

    .textoCaldera {
        align-content: center;
        justify-content: center;
            
            p {
                font-size: 15px;
            }
        }
        
    .imgCaldera {
        align-content: center;
        justify-content: center;
        }
    }
}