@import "variables";
@import "index";
@import "nuestra-historia";
@import "trabajos";
@import "maquinas";
@import "contacto";
@import "layout";

/* Condiciones generales */

* {
    margin: 0;
    padding: 0;
}

html { /* Igualdad en unidades de medida 1rem = 10px */
    font-size: 62.5%;
}

body {
    background-color: #8DA9C4;
    font-family:'Oswald', sans-serif;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 5rem;
    font-weight: bold;
    text-decoration: underline;
    color: $color-fuente;
}

h2 {
    color: $color-fuente;
}

p {
    color: $color-fuente;
    margin: 0;
}

header {
    background-color: #134074;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.nombreEmpresa {
    font-size: 50px;
}

.nav-link {
    color: #979DAC;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-toggler {
    margin-bottom: 20px;
}

.navbar-toggler-icon {
    width: 35px;
    height: 40px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding: 0;
}